<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Page Classique</title>
<link rel="stylesheet" href="nav.component.css">
<meta charset="UTF-8">
    <title>Boutons avec Icônes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>

<header>
 
  <h1>SAGEMCOM - Gestion des Interventions </h1>
 
  <nav>
    <ul>
      
      <li><a href="alerte">Alerte </a></li>
      <li><a href="passation">Passation</a></li>
      <li><a href="/demandecompoosant">Demande Composant</a></li>
      <li><a href="Home">Deconnecter</a></li>
    </ul>
  </nav>
</header>
<button>
  <i class="fas fa-bell fa-2x"></i> Afficher les Alertes
</button>

<!-- Bouton avec icône -->
<button>
  <i class="fas fa-folder-open fa-2x"></i> Afficher les Passations
</button>

<!-- Bouton avec icône -->
<button  >
  <i class="fas fa-cogs fa-2x"></i> Afficher les Demandes des composants
</button>

<br><br>
<div class="centered-container" >
  <!-- Texte animé -->
  <span class="animated-text">Sagemcom</span>
</div>


</body>
</html>

<app-finbarre></app-finbarre>
